# Starting new project with zerodha

Kite Connect is a set of REST-like HTTP APIs that expose many capabilities 
required to build a complete stock market investment and trading platform.
It lets you execute orders in real time (equities, commodities, mutual funds), 
manage user portfolios, stream live market data over WebSockets, and more.

* Install Kiteconnect
* pip install kiteconnect

# Import All libraries required

In [2]:
import time
import secrets 
import threading
import webbrowser
import numpy as np
import pandas as pd 
from math import modf
from pprint import pprint 
from pytz import timezone
from datetime import datetime 
from time import gmtime, strftime
from kiteconnect import KiteTicker 
from kiteconnect import KiteConnect
from IPython.display import clear_output

# Login to zerodha

enter your api key and api secret

In [ ]:
api_key='******************* @@enter your api key here@@@**************' 
api_secret='**********************@@enter your api key here****************'
print(KiteConnect(api_key,api_secret).login_url())
webbrowser.open_new_tab(KiteConnect(api_key,api_secret).login_url())

# make object 

kite = KiteConnect(api_key=api_key)
data = kite.generate_session(((str(input("ENTER full link generated in URL :- ")).split("request_token=")[1]).split("&action"))[0],api_secret)
kite.set_access_token(data["access_token"])
print("success")

# Finding " Instrument Token list of zerodha"

In [29]:
pd.DataFrame(kite.instruments()).tail(20)

,instrument_token,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,segment,exchange
58709,1045249,4083,AMBANIORG-SM,,0.0,,0.0,0.05,2000,EQ,NSE,NSE
58710,1823233,7122,788GS2030-GS,,0.0,,0.0,0.01,1,EQ,NSE,NSE
58711,5181953,20242,OBEROIRLTY,OBEROI REALTY,0.0,,0.0,0.05,1,EQ,NSE,NSE
58712,2762497,10791,NUCLEUS,NUCLEUS SOFTWARE EXPORTS,0.0,,0.0,0.05,1,EQ,NSE,NSE
58713,2752257,10751,NTPC-ND,TFB 7.62% 2035 SR. 3B,0.0,,0.0,0.01,1,EQ,NSE,NSE
58714,2751745,10749,NTPC-NC,TFB 7.53% 2030 SR. 2B,0.0,,0.0,0.01,1,EQ,NSE,NSE
58715,2750977,10746,NTPC-NB,TFB 7.36% 2025 SR. 1B,0.0,,0.0,0.01,1,EQ,NSE,NSE
58716,2750465,10744,NTPC-NA,TFB 7.37% 2035 SR. 3A,0.0,,0.0,0.01,1,EQ,NSE,NSE
58717,2749697,10741,NTPC-N9,TFB 7.28% 2030 SR. 2A,0.0,,0.0,0.01,1,EQ,NSE,NSE
58718,2748673,10737,NTPC-N8,TFB 7.11% 2025 SR. 1A,0.0,,0.0,0.01,1,EQ,NSE,NSE
58719,1888513,7377,NTPC-N7,8.49% SEC NON-CUM RED NCD,0.0,,0.0,0.01,1,EQ,NSE,NSE
58720,3730433,14572,GLOBOFFS,,0.0,,0.0,0.05,1,EQ,NSE,NSE
58721,5052929,19738,GLOBAL-SM,GLOBAL EDUCATION,0.0,,0.0,0.05,1000,EQ,NSE,NSE
58722,1895937,7406,GLENMARK,GLENMARK PHARMACEUTICALS,0.0,,0.0,0.05,1,EQ,NSE,NSE
58723,295169,1153,GLAXO,GLAXOSMITHKLINE PHARMA LT,0.0,,0.0,0.05,1,EQ,NSE,NSE
58724,1225217,4786,AKG-SM,,0.0,,0.0,0.05,4000,EQ,NSE,NSE
58725,6953217,27161,CINELINE,CINELINE INDIA,0.0,,0.0,0.05,1,EQ,NSE,NSE
58726,6447105,25184,CIMMCO,CIMMCO,0.0,,0.0,0.05,1,EQ,NSE,NSE
58727,1316353,5142,CIGNITITEC,,0.0,,0.0,0.05,1,EQ,NSE,NSE
58728,175361,685,CHOLAFIN,CHOLAMANDALAM IN & FIN CO,0.0,,0.0,0.05,1,EQ,NSE,NSE

# Finding a token from symbol

In [8]:
print("input token name")
token_n=str(input())
print("enter exchange")
exc=str(input())
pd.DataFrame(kite.instruments(exc))[["tradingsymbol","instrument_token","name","exchange"]][pd.DataFrame(kite.instruments(exc))[["tradingsymbol","instrument_token","name","exchange"]]['tradingsymbol'].str.contains(token_n)]

input token name
SUNPHARMA
enter exchange
NSE

    tradingsymbol  instrument_token                      name exchange
378     SUNPHARMA            857857  SUN PHARMACEUTICAL IND L      NSE

# INPUTS

Example:  ( Inputs are case sensitive )
1. Trading symbol             ... ( "SUNPHARMA ")
2. exchange                   ... (" NSE / BSE " / " CDS ")
3. productt                   ... (" CNC" / " NRML " )
4. Quantity                   ... (1 , 2 , 3 etc ! how much u want)
5. Instrument token           ... ( Ex SUNPHARMA instrument token is 857857 )
6. RSI in condition           ...       ( 30 )
7. RSI out condition          ...       ( 31 )
8. rofit booking RSI condition...       ( 70 )
9. Time frame of candels      ...   ( "minute"/ "10 minute" )
10. starting data of Data     ...   ( "2019-06-05" )
11. Ending data Of Data       ...   ( "2019-07-02" )

# Getting HISTORICAL DATA

In [11]:
token=857857 # this is the token of sunpharma 
starting_date="2019-05-10"
ending_date="2020-08-16"
time_period="day"


zap=kite.historical_data(token,starting_date,ending_date,time_period,0)
zapp=pd.DataFrame(zap).tail(10)


zapp

     close                      date    high     low    open    volume
68  426.00 2019-08-19 00:00:00+05:30  434.20  421.00  424.75  11584821
69  420.90 2019-08-20 00:00:00+05:30  426.50  417.30  426.00   5151625
70  417.00 2019-08-21 00:00:00+05:30  425.85  413.60  421.00   5120294
71  414.55 2019-08-22 00:00:00+05:30  420.75  408.50  416.70   5299316
72  427.80 2019-08-23 00:00:00+05:30  429.95  408.90  415.00   5479802
73  419.35 2019-08-26 00:00:00+05:30  429.80  415.10  428.00   6258106
74  416.75 2019-08-27 00:00:00+05:30  425.45  415.10  424.05   6738413
75  413.10 2019-08-28 00:00:00+05:30  421.70  411.50  416.90   3441725
76  434.65 2019-08-29 00:00:00+05:30  438.60  421.10  428.00  19967263
77  450.40 2019-08-30 00:00:00+05:30  453.40  429.75  432.95  12308149

# Getting continous data of stock

In [14]:
token=857857 # this is the token of sunpharma 
starting_date="2019-05-10"
ending_date="2020-08-16"
time_period="minute"

def livedata():
    while (True):
        clear_output(wait=True)
        z=kite.historical_data(token,starting_date,ending_date,time_period,0)
        za=pd.DataFrame(z)
        display(za.tail())
        time.sleep(1)
livedata()

        close                      date    high     low    open  volume
29244  452.45 2019-08-30 15:25:00+05:30  452.85  452.35  452.80   36323
29245  452.05 2019-08-30 15:26:00+05:30  452.55  452.05  452.45   16843
29246  452.20 2019-08-30 15:27:00+05:30  452.25  452.00  452.05   30296
29247  452.95 2019-08-30 15:28:00+05:30  452.95  452.05  452.20   49371
29248  452.15 2019-08-30 15:29:00+05:30  453.00  452.00  452.45   34857

# for last trade price of stock

In [46]:
# GAIL
kite.ltp(1207553)

{'1207553': {'instrument_token': 1207553, 'last_price': 129.8}}

# for last ohlc of stock

In [31]:
# GAIL
kite.ohlc(1207553)

{'1207553': {'instrument_token': 1207553,
  'last_price': 129.8,
  'ohlc': {'open': 129.65, 'high': 133.1, 'low': 125.2, 'close': 128.5}}}

# FOR PLACING AN ORDER :-

* market order place

In [32]:
kite.place_order(variety="regular",tradingsymbol='IDEA',quantity=1,exchange='NSE',order_type='MARKET',transaction_type='SELL',product='MIS',tag='test')

'190901000000678'

* BUY limit order place

In [35]:
kite.place_order( variety="regular",tradingsymbol="ADANIPOWER",quantity=1,exchange="BSE",order_type='LIMIT',price=54,trigger_price=55,transaction_type='SELL',product='CNC',tag="te")

'190901000000681'

* SELL limit order place

In [37]:
kite.place_order( variety="regular",tradingsymbol="ADANIPOWER",quantity=1,exchange="BSE",order_type='LIMIT',price=54 ,trigger_price=52,transaction_type='SELL',product='CNC',tag="test")

'190901000000682'

# Cancel an order

In [40]:
kite.cancel_order("regular",order_id="190901000000682", parent_order_id=None)

'190901000000682'

# Exit from an order

In [42]:
kite.exit_order(variety="regular",order_id='190901000000682')

# Order Placed information

In [43]:
display(pd.DataFrame(kite.orders())[["tradingsymbol","instrument_token","status","order_id","quantity","price","trigger_price","order_type","exchange_update_timestamp","exchange",'tag',"validity",  "average_price","pending_quantity"]])

,tradingsymbol,instrument_token,status,order_id,quantity,price,trigger_price,order_type,exchange_update_timestamp,exchange,tag,validity,average_price,pending_quantity
0,GAIL,1207553,REJECTED,190901000000537,765,131.00,130.90,SL,None,NSE,advG,DAY,0,0
1,NTPC,2977281,REJECTED,190901000000538,819,122.35,122.25,SL,None,NSE,advG,DAY,0,0
2,VEDL,784129,REJECTED,190901000000539,711,140.90,140.80,SL,None,NSE,advG,DAY,0,0
3,HDFC,340481,REJECTED,190901000000549,13,2171.95,2170.70,SL,None,NSE,advG,DAY,0,0
4,IDEA,3677697,REJECTED,190901000000678,1,0.00,0.00,MARKET,None,NSE,test,DAY,0,0
5,ADANIPOWER,136472580,REJECTED,190901000000681,1,54.00,0.00,LIMIT,None,BSE,te,DAY,0,0
6,ADANIPOWER,136472580,REJECTED,190901000000682,1,54.00,0.00,LIMIT,None,BSE,test,DAY,0,0

# Open positions

In [44]:
pd.DataFrame(kite.positions())

Empty DataFrame
Columns: [net, day]
Index: []

# Holdings you have

In [45]:
display(pd.DataFrame(kite.holdings())[["tradingsymbol","instrument_token","pnl","average_price","close_price","collateral_quantity","collateral_type","day_change","day_change_percentage","exchange","isin","last_price","price","product","quantity","realised_quantity","t1_quantity" ]])

,tradingsymbol,instrument_token,pnl,average_price,close_price,collateral_quantity,collateral_type,day_change,day_change_percentage,exchange,isin,last_price,price,product,quantity,realised_quantity,t1_quantity
0,ADANIPOWER,4451329,-2.95,61.350,58.40,0,,0.00,0.000000,NSE,INE814H01011,58.40,0,CNC,1,1,0
1,CRESSAN,131169028,-0.05,0.200,0.19,0,,0.00,0.000000,BSE,INE716D01033,0.19,0,CNC,5,5,0
2,IDEA,3677697,-26.72,10.694,5.37,0,,-0.02,-0.372439,NSE,INE669E01016,5.35,0,CNC,5,5,0
3,VIKASPROP,3109889,-0.25,4.300,4.05,0,,0.00,0.000000,NSE,INE767B01022,4.05,0,CNC,1,1,0

# Websocket

In [ ]:
import logging
from kiteconnect import KiteTicker
logging.basicConfig(level=logging.DEBUG)
kws = KiteTicker("inx2yhl01h5udgec", "R46Cl90i4SQakKZqFvC3g130gQAzj31J")
def on_ticks(ws, ticks):
    logging.debug("Ticks: {}".format(ticks))
def on_connect(ws, response):
    ws.subscribe([256265])
    ws.set_mode(ws.MODE_FULL, [256265])
def on_close(ws, code, reason):
    ws.stop()
kws.on_ticks = on_ticks
kws.on_connect = on_connect
kws.on_close = on_close
kws.connect()

# Websocket threading

In [ ]:
import threading 
class ThreadingData(object):
    #  Making Variables as global of websocket
    global app_z_status
    global app_z_order
    global app_z_order_type
    global app_z_transaction_type
    # Variables of websocket
    app_z_status=[]
    app_z_order=[]
    app_z_order_type=[]
    app_z_transaction_type=[]
    def __init__(self):
        thread = threading.Thread(target=self.run, args=())
        thread.daemon = True
        thread.start()
    def run(self):
        
        #----------------------------------------------------------------------------***** PUBLIC TOKEN
        
        access_token="tCplfRM4E5VZkfDc81byFjFGWy29R7uN" 
        api_key="inx2yhl01h5udgec"
        logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(name)s - %(levelname)s - %(message)s')
        clear_output(wait=True)
        kws = KiteTicker(api_key, access_token, debug=True)
        
        # Making Variables as global of websocket
        
        global app_z_status
        global app_z_order
        global app_z_order_type
        global app_z_transaction_type

        # INPUT TOKEN --------------------------------------------------------------***** INPUT TOKEN
        
        tokens = [131169028]
        
        print("Tokens length", len(tokens))     
        
        # Websocket Working
        def on_connect(ws, response):
            logging.debug("on connect: {}".format(response))
            ws.subscribe(tokens)
            ws.set_mode(ws.MODE_FULL, tokens)
        def on_close(ws, code, reason):
            logging.error("closed connection on close: {} {}".format(code, reason))
        def on_error(ws, code, reason):
            logging.error("closed connection on error: {} {}".format(code, reason))
        def on_noreconnect(ws):
            logging.error("Reconnecting the websocket failed")
        def on_reconnect(ws, attempt_count):
            logging.debug("Reconnecting the websocket: {}".format(attempt_count))
        def on_order_update(ws, data):
            
            # Accessing Data from websocket 
            
            z_status=data['status']
            z_order=data["order_id"]
            z_order_type=data["order_type"]
            z_transaction_type=["transaction_type"]
            
            # APPEND websocket data into variables
            
            app_z_status.append(z_status)
            app_z_order.append(z_order)
            app_z_order_type.append(z_order_type)
            app_z_transaction_type.append(z_transaction_type)
            
            # printing All websocket data 
            
            print(app_z_status)
            print(app_z_order)
            print(app_z_order_type)
            print(app_z_transaction_type)
            print(data)
            
        # calling all functions
        
        kws.on_connect      = on_connect
        kws.on_close        = on_close
        kws.on_error        = on_error
        kws.on_noreconnect  = on_noreconnect
        kws.on_reconnect    = on_reconnect
        kws.on_order_update = on_order_update
        kws.connect()

thre=ThreadingData()

# STATUS of order from websocket :-

 {'average_price': 0,
  'cancelled_quantity': 0,
  'disclosed_quantity': 0,
  'exchange': 'NSE',
  'exchange_order_id': None,
  'exchange_timestamp': None,
  'filled_quantity': 0,
  'guid': '10778X8ZFO5b41UslC',
  'instrument_token': 857857,
  'market_protection': 0,
  'order_id': '190521001155150',
  'order_timestamp': datetime.datetime(2019, 5, 21, 10, 54, 46),
  'order_type': 'SL',
  'parent_order_id': None,
  'pending_quantity': 0,
  'placed_by': 'BQ8330',
  'price': 555,
  'product': 'CNC',
  'quantity': 1,
  'status': 'REJECTED',
  'status_message': 'Price exceeds circuit limits for the instrument. Place an order within the daily range.',
  'status_message_raw': 'RMS:R